@charset "utf-8";
*{
    margin: 0 ;
    padding: 0 ;
}
html{
    font-size:62.5%;
}
img{
    max-width:100%;
    height:auto;
}
body{
    min-width: 320px;
    width:100%;
    margin:0 auto;
    font-family:arial,"Microsoft Yahei",sans-serif;
}
.container{
    margin: 0 auto;
    background-color: #fff;
    max-width:640px;
    overflow:hidden;
}
.panel{
    border:none;
    box-shadow:0;
    overflow: hidden;
    padding: 1% 0;
    font-size: 3.4rem;
    text-align: center;
}
.panel-heading{
    width:100%;
    background:#5fc0cd;
}
.location{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 8%;
}
.nav-pills {
    display: inline-block;
    border-radius: 4px;
    background: #55a8b3;
}
@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}
