@charset "utf-8";
body{
    margin: 0 auto;
    width:100%;
    background:#fff;
}
.header{
    display:block;
    padding:0 18%;
    background-color:#1d7ad9;
}
.header .telenumber{
    float:left;
    padding:1.3rem 0;
    font-size:1.4rem;
    color:white;
}
.header div{
    float:right;
    padding:1rem 0;
    font-size:1.6rem;
}
.header div a{
    padding:1.3rem;
    text-align:center;
    border-left:1px solid white;
}
.header div a:hover{
    color:black;
    background:white;
}
.navbar-toggle{
    margin:1rem 2rem;
    border:none;
    border-radius:0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#1d7ad9;
}
.navbar-default{
    width:100%;
    padding:2rem 18%;
    margin:0;
    background-color:#f9f9f9;
    border:none;
    border-radius:0;
}
#navbar{
    padding:0 0;
}
#navbar .navbar-nav{
    float:right;
}
#navbar a{
    padding:1.4rem 1.6rem;
    margin-left:5rem;
    font-size:1.6rem;
    text-align:center;
    color:black;
    background:white;
    border-radius:0.8rem;
}
#navbar a:hover{
    color:white;
    background:#1d7ad9;
}
.container{
    width:100%;
    padding:0 18%;
}
.row{
    margin:0;
    width:100%;
}
.steps .order{
    float: right;
    width:100%;
    max-width: 63.4rem;
    padding: 0;
    margin: 0;
}
.order div{
    float:left;
    padding:0 11%;
    margin-top:5rem;
    height:0.6rem;
    text-align:center;
    width:25%;
    background:#ccc;
}
.order .active{
    background:#ff7f02;
}
.order p{
    position:relative;
    top:-1.2rem;
    width:2.6rem;
    height:2.6rem;
    padding:0.6rem 0;
    font-size:1.8rem;
    color:white;
    background:#ccc;
    border-radius:50%;
}
.order .active p{
    background:#ff7f02;
}
.steps ol{
    float: right;
    width:100%;
    max-width: 63.4rem;
    padding: 0;
    margin:3rem 0;
    font-size:1.8rem;
    list-style: none;
}
.steps li{
    float:left;
    width:25%;
    text-indent: -0.4rem;
    text-align:center;
    color:#ccc;
}
.steps .active{
    color:#ff7f02;
}
.characters h4{
    padding-left:0.5rem;
    font-size:2.2rem;
    border-left:4px solid #1d7ad9;
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width:767px) {
    html{
        font-size:50%;
    }
    .header{
        width:100%;
        padding:0 2%;
    }
    .header-contact{
        justify-content:flex-end;
    }
    .header-contact .telenumber{
        display:none;
    }
    .navbar-default {
        width: 100%;
        padding: 2rem 0;
    }
    #navbar .navbar-nav{
        float:none;
    }
    #navbar ul{
        width:100%;
    }
    #navbar ul li{
        width:100%;
    }
    #navbar a{
        margin:0;
        padding:2rem 0;
        font-size:1.6rem;
        text-align:center;
        color:black;
        border-radius:0;
    }
}
